.app-container {
    position: relative;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
html{
    overflow: hidden;
}

.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.form-container {
    position: relative;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-container,
.signup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-login .signup-container {
    opacity: 0;
    transform: translateX(100%);
}

.show-signup .login-container {
    opacity: 0;
    transform: translateX(-100%);
}

.show-login .login-container,
.show-signup .signup-container {
    opacity: 1;
    transform: translateX(0);
}